:root {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

button,
input {
  font: inherit;
}


/* PNG出力中は操作用UIを隠す */
.canvas.is-exporting .shape.selected {
  outline: none !important;
}

.canvas.is-exporting .resize-handle,
.canvas.is-exporting .rotate-handle,
.canvas.is-exporting .shape-measurement,
.canvas.is-exporting .smart-guide {
  display: none !important;
}